.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: #6495ED08;
    position: relative;
}

.messages {
    padding: 20px 0px 0px 40px;
}

.messages .message {
    padding: 5px;
}
.userDialog a {
    color: white;
    text-decoration: none;
}
.userDialog .dialog {
    padding: 10px;
    border: 1px solid lightgray;
    background-color: royalblue;
}

.userDialog .dialog .activeDialog {
    color: goldenrod;
}

.messageuser {
    text-align: right;
}